{% extends "layouts/base.html" %}

{% block title %} Bills {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">All Bills</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">All Bills</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Bills</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                {% for bill in all_Bills %}
                {% if bill.username  == request.user.username%}
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ bill.Shop_name }} </h5>
                            </div>
                             <div class="card-header">
                                <h6 style="font-size:14px;">{{ bill.Shop_address }} </h6>
                            </div>
                            <div class="card-header">
                                <h6 style="font-size:14px;"> Phn : {{ bill.Telephone_no }} </h6>
                            </div>
                             <div class="card-header">
                                <h6 style="font-size:12px;">{{ bill.Date }} </h6>
                            </div>
                            <div class="card-header">
                                <h6 style="font-size:12px;">Total Items : {{ bill.Total_items }} </h6>
                            </div>
                            <div>
                                <img src={{bill.Bill_picture.url}} alt="Smiley face" width="250" height="250">
                            </div>


                                <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">

                                        <tbody>
                                        <tr>
                                        <th>Name</th>
                                            <th>Price</th>
                                            <th>Warrenty (Years)</th>
                                        </tr>
                                                {% for item in all_Items %}
                                                {% if item.bill == bill%}
                                                <tr>
                                                <td > {{ item.Item_name }} </td>
                                                <td > {{ item.Item_price }} </td>
                                                <td > {{ item.Item_warrenty_years }} </td>

                                                </tr>
                                                {% endif %}
                                                {% endfor %}

                                        <tr>
                                            <th>Total </th>
                                            <th>{{bill.Bill_amount}}</th>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}



                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
